img{
  width:100%;
  height: auto;
}

body{
  background-color: E0E0E0;
  color: #000000;
}


.main{
  margin-left: $margin;
  margin-right: $margin;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

h2, .h2{
  font-family: $apercu;
  font-size: $f15;
  letter-spacing: 0.14em;
  margin-bottom: $spacing15;
}

.galleria-btn{
  margin-top: $spacing15;
  padding: 8px 15px;
  border: 1px solid $black;
  border-radius: 20px;
  width: fit-content;
  color: $black;
  &:hover { 
    background-color: #ECECEC;
    color: $black;
  }
}

.section{
  width: 100%;
}

// navbar

.navbar{
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0px;
  padding: 0 $spacing15*3;
  height: $header_height;
  z-index: 3;
}

.nav-wrapper{
  justify-content: space-between;
  min-width: 50%;
}

.nav-logo{
  font-family: $speziaRegular;
  font-style: normal;
  font-weight: 500;
  font-size: $fh1;
  line-height: auto;
  cursor: pointer;
  white-space: nowrap;
}

.nav-link{
  font-family: $apercu;
  font-size: $f15;
  line-height: 1;
  text-align: center;
  letter-spacing: $letterspacing;
  position: relative;
  cursor: pointer;

  &:not(:last-child){
    margin: 0 5px;
  }

    &:hover { 
      opacity: 70%;
      transition: all 200ms ease;       
    }
    &:before{
      content:"";
      position: absolute;
      bottom: -5px;
      height: 2px;
      width: 0px;
      background-color: $black;
      transition: .4s ease;
    }
    &.nav-active{
      &:before{
        width: 100%;
      }
    }
}

.nav-language{
  width: $spacing15*2;
  height: $spacing15*2;
  border: 1px solid $black;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: normal;
}

.nav-language div{
  font-size: $f12;
  font-weight: 400;
  text-align: center;
}

.menu-icon {
  display: none;
}

.link-menu-open{
  font-size: $f30;
  font-family: $apercu;
  margin-bottom: $margin;
  letter-spacing: $letterspacing;
}

// homepage e slider homepage

.section-hp{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.carousel-container{
  padding: 0 $spacing30;
}

.section-hp{
  height: 100vh;
  position: relative;
  .slide-captions{
    position: absolute;
    bottom: $margin;
    left: 0px;
  }
  .carousel-container{
    padding: 0;
  }
  .swiper{
    height: 70vh;
  }
  .swiper-slide{
    width:100% !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0 !important;
  }
  .swiper-slide-active{
    opacity: 1 !important;
  }
}

// .swiper-button-next, .swiper-button-prev{
//   color: transparent !important;
// }

.project-swiper{
  .swiper-button-next{
    position: fixed;
    width:50%;
    height: 100vh;
    right: 0;
    top:0;
    cursor: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' fill='black'/%3E%3C/svg%3E%0A"), auto;
    &::after{
      content: none;
    }
  }
  .swiper-button-prev{
    position: fixed;
    width:50%;
    height: 100vh;
    left: 0;
    top:0;
    cursor: url("data:image/svg+xml,%3Csvg width='12' height='12' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='6' cy='6' r='6' fill='black'/%3E%3C/svg%3E%0A"), auto;
    &::after{
      content: none;
    }
  }
}



// slider captions

.slide-title{
  font-family: $speziaItalic;
  font-size: $f15;
}

.current-title, .current-title-hp{
  font-family: $speziaRegular;
  width: 70%;
  font-size: $f15;
}

// section storia

.storia-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.storia-text-wrapper{
  width: 50%;
  max-width: 100%;
  padding: $spacing30*2 $spacing30 $spacing30*2 0;
}

.storia-firstDescription, .storia-secondDescription{
  font-size: $f24;
  font-family: $speziaRegular;
  font-weight: 400;
}

.storia-firstDescription{
  margin-bottom: $spacing30;
}

.storia-img-wrapper{
  width: 50%;
  max-width: 100%;
  padding: $spacing30;
  display: flex;
  justify-content: center;
}

.storia-img-container{
  width: 70%;
  max-width: 100%;
  height: auto;
}

.storia-img-container img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

// servizi

.servizi-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.servizi-labels{
  width: 50%;
  left: $margin;
}

.service-li{
  font-family: $apercu;
  font-size: $f30;
  letter-spacing: $letterspacing;
  margin-bottom: $spacing15;
  display: flex;
  align-items: center;
  span{
    height: 3px;
    display: block;
    width: 0px;
    margin-right: 5px;
    background-color: #000000;
    transition: width .3s ease;
  }
  &.tab-active{
    span{
     width:30px;
    }
  }
}

.service-description-container{
  width: 50%;
  right: $margin;
}

.service-wrapper{
  padding: 0 $spacing30;
  border-left: 2px solid black;
}

.service-description{
  font-family: $speziaRegular;
  font-size: $f20;
}

.service-italic{
  font-family: $speziaItalic;
}

.fade-animation{
  animation:opac 0.6s ease;}
  @keyframes opac{
    from{opacity:0} to{opacity:1}
}

.service-li{
  list-style: none;
  cursor: pointer;
}

// contatti

.contatti-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.contatti-wrapper{
  width: 50%;
  max-width: 100%;
  text-align: center;
}

.contatti-description{
  max-width: 100%;
  font-family: $speziaRegular;
  font-size: $f24;
}

.det-architect{
  margin-top: $margin;
}

.architect-site{
  &:hover { 
    opacity: 70%;
    transition: all 200ms ease; 
    cursor: pointer;      
  }
}

// galleria

.galleria-container{
  position: relative;
  width:100%;
  padding: 0;
}

.gallery-captions{
  position: absolute;
  bottom: -90px;
  width: 100%;
}

// realizzazioni

.realizzazioni-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3px;
}

.card-container{
  width: 25%;
  cursor: pointer;
  p{
    margin-left: 3px;
    padding-right: 15px;
  }
}

.square {
  width: 100%;
  position: relative;
  margin-bottom: $margin/2;
  img{
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

// modal

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 4;
  top: 0;
  left: 0;
  background-color: white;
  background-color: white;
  .carousel-container{
    width:800px;
    max-width: 100%;
    .swiper-slide{opacity: 0 !important;}
    .swiper-slide-active{
      opacity: 1 !important;
    }
  }
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: $black;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  opacity: 70%;
  transition: all 200ms ease;   
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.project-captions{
  position: absolute;
  bottom: $margin;
  left: $margin;
}

.close-btn{
  font-size: $f30;
  position: absolute;
  top: 15px;
  right: 50px;
  cursor: pointer;
  z-index: 9;
}

// menu mobile 

.menu_mobile{
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top:0;
  width:100%;
  height: 100vh;
  transition: .3s ease;
  z-index: 2;
  background: white;
  .menu_container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  &.active{
    opacity: 1;
    visibility: visible;
  }
}
.link-menu-open{
  font-size: 18px;
}
.menu-icon{
  .menu_open{
    display: none;
  }
  &.active{
    .menu_open{display: block;}
    .menu_close{display: none;}
  }
}

// mobile overall

@media screen and (max-width:1000px){

  .main{
    font-size: 18px !important;
    padding-top: 90px;
    margin-top: 0px;
    margin: 0 25px;
    box-sizing: border-box;
    display: block;
    h2{
      font-size: 16px !important;
    }
  }

  .galleria-btn{
    // margin-top: $margin/2;
    margin-top: $spacing15;
    padding: 8px 8px;
    border: 1px solid $black;
    border-radius: 20px;
    width: 100%;
    font-size: 16px !important;
    color: $black;
    text-align: center;
    &:hover { 
      background-color: $black;
      color: white;
    }
  }

   // navbar

   .navbar{
    padding: 0 25px;
   }

   .nav-logo{
    font-size: 20px;
   }

    .menu-icon {
      display: block;
    }

   .nav-wrapper{
    display: none;
    }

  h2, .h2{
    font-size: 16px;
  }


  .section{
    width: 100%;
  }
  // homepage

  .section-hp{
    height: auto;
    .slide-captions{
      position: fixed;
      bottom: $margin;
      left: 25px;
      width: 100%;
    }
  }



  // storia
  .storia-container{
    flex-direction: column-reverse;
    align-items: center;
  }
  .storia-text-wrapper{
    width: 100%;
    padding: $margin 0px;
  }

  .storia-img-wrapper{
    width: 100%;
    padding: 0px;
  }

  .storia-img-container{
    width: 100%;
  }

  .storia-firstDescription, .storia-secondDescription{
    font-size: 18px;
  }

  // servizi
  .servizi-container{
    flex-direction: column;
    align-items: center;
  }

  .servizi-labels{
    width: 100%;
    left: 0px;
    padding-bottom: $margin;
  }

  .service-wrapper{
    border-left: none;  
    padding: 0px;
    border-top: 2px solid black;
    padding-top: 30px;
  }

  .service-description-container{
    width: 100%;
    border-left: none;
  }

  .service-description{
    font-size: 18px;
  }

  .service-li{
    font-size: 16px;
  }

  // realizzazioni 

  .realizzazioni-container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .card-container{
    width: 100%;
    p{
      font-size: 18px;
    }

  }

  .overlay{
    .close-btn{
      right: 25px;
    }
  }
  
  .carousel-realizzazioni{
    padding: $margin/2;
  }

  .square-description{
      margin-bottom: $margin/2;
  }
  
  .overlay{
    .project-captions{
      width: 75%;
      position: fixed;
      bottom: $margin;
      left: $margin/2;
    }
  }


  // contatti 
  .contatti-container{
    flex-direction: column-reverse;
  }

  .contatti-wrapper{
    margin-top: 45px;
    margin-bottom: 60px;
    width: 100%;
  }

  .contatti-description{
    font-size: 18px;
  }

// galleria

.gallery-captions{
  opacity: 0;
  visibility: hidden;
}

}

